# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Python distribution & packaging
/build/
/dist/
*.egg-info/
/.pytest_cache/
.coverage

# mac OS Finder detritus
.DS_Store

# IntelliJ project files
/.idea/
*.iml
